.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* override bootstrap navbar colors */
.navbar,
.navbar-default {
  background-color: #57c0ed !important; /* override background image gradient w/ flat color */
}

.nav-link {
  color: white !important;
}

.dropdown-menu {
  right: 0 !important;
  left: auto !important;
}
